<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <ul>
        <li><a href="/smartfarm-1600/us-central1/explore/test">Home</a></li>
        <li><a href="/smartfarm-1600/us-central1/explore/userget">User Get</a></li>
        <li><a href="/smartfarm-1600/us-central1/explore/sensorget">Sensor Get</a></li>

    </ul>
</body>
</html>